* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #212529;
}

.navmenu {
  background-color: #212529;
}

.navmenu ul>li {
  font-size: 0.7rem;
  margin-right: 1rem;
  font-weight: 700;
  list-style-type: none;
}

img {
  width: 70%;
  object-fit: cover;
  transition: all 1s ease;
}

img:hover {
  transform: scale(1.05);
}