* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navmenu ul>li {
  font-size: 0.6rem;
  margin-right: 1rem;
  font-weight: 700;
  list-style-type: none;
}

.f-hover {
  text-decoration: none;
}

.f-hover:hover {
  text-decoration: underline;
}

#liveToastBtn {
  border: none;
}

.toast-container {
  padding-right: 1rem;
  padding-bottom: 2rem;
}