* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #212529;
}

.header h1 {
  letter-spacing: .3rem;
  font-weight: 700;
}

.navmenu {
  background-color: #212529;
}

.navmenu ul>li {
  letter-spacing: 0.06rem;
  font-size: 0.7rem;
  margin-right: 1rem;
  font-weight: 700;
  list-style-type: none;
}

.navmenu ul>li:hover {
  transform: scale(120%);
}

.main {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  width: 40%;
  display: flex;
  margin: 2rem;
}


.image {
  overflow: hidden;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  object-fit: cover;
  transition: all 1s ease;
}

img:hover {
  transform: scale(1.05);
}

.style {
  color: bisque;
}

.blink {
  animation: blinker 3s linear infinite;
  color: bisque;
  font-weight: bold;
  font-family: sans-serif;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

h1 {
  position: relative;
  font-size: 14vw;
  color: #252839;
  -webkit-text-stroke: .3vw #383d52;
  text-transform: uppercase;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: bisque;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid bisque;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

@media screen and (min-width:1250px) {
  .image {
    height: 18rem;
  }
}

@media screen and (max-width:768px) {
  .menu {
    width: 80%;
  }
}

@media screen and (max-width:576px) {
  .main {
    margin: 1rem;
  }

  .menu {
    width: 110%;
  }
}

@media screen and (max-width:290px) {
  .main {
    margin: 0;
  }

  .menu {
    width: 110%;
  }

  .image {
    height: 10rem;
  }
}